body {
    background-color: #b89e7d;
}

.chatarea,
.home {
    margin-top: 60px;
}

h1 {
    margin-top: 6rem;
}

.chatarea {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.chatarea .chatbubble {
    background-color: #d6d3b4;
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    word-wrap: break-word;
}

.chatbubble .chattime {
    font-size: 12px;
    color: #757575;
    text-align: right;
}

.chatarea .chatbubble.currentuser {
    margin-left: auto;
    background-color: #a5d6a7;
}

.formcontrol {
    width: 60%;
}

.formcontrol:focus {
    box-shadow: none;
}