body {
    background-color: #b89e7d;
    color: #171008;
    text-align: center;
}

.chatarea,
.home {
    margin-top: 60px;
}

h2 {
    margin-top: 6rem;
}

.chatarea {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.chatarea .chatbubble {
    background-color: #d6d3b4;
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    word-wrap: break-word;
}

.chatbubble .chattime {
    font-size: 12px;
    color: #757575;
    text-align: right;
}

.chatarea .chatbubble.currentuser {
    margin-left: auto;
    background-color: #ddc79e;
}

.formcontrol {
    width: 60%;
}

.formcontrol:focus {
    box-shadow: none;
}


/*home and nav*/

.jumbotron {
    background-color: #BFA78A;
}

.navbar {
    background-color: #eaa958 !important;
}

strong.text-info {
    color: #ffc060 !important;
}


/*forms*/

input[type=password],
input[type=email] {
    margin: 5px;
    border: 1px transparent;
    border-radius: 5px;
    padding: 5px;
}

button {
    margin: 5px;
}

a {
    color: #ffc060;
}

form {
    background-color: #BFA78A;
    padding: 10px;
}

p {
    margin: 5px;
}