body {
    background-color: #b89e7d;
}

.chatarea,
.home {
    margin-top: 60px;
}

h1 {
    margin-top: 6rem;
}

.chatarea {
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
}

.chatarea {
    background-color: #d6d3b4;
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    word-wrap: break-word;
}

.chatarea {
    margin-left: auto;
    background-color: #f0e1a4;
}

.chatlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.chatlist li {
    padding: 5px 0;
}

.chatlist em {
    font-size: 12px;
    font-style: normal;
}

.chatlist strong {
    display: inline-block;
    margin: 0 5px 0 10px;
}

.sendchat {
    margin-top: 15px;
}

.sendchat input {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.sendchat input:focus {
    border: 1px solid black;
}

.disallowchat {
    text-align: center;
}